body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  height: 100vh;
  background: url(assets/img/smiling-background.jpg);
}

#player {
  display: none;
}
